
<center><h2>Keep track of your workouts through an easy to use calendar</h2></center>
<center><%= link_to "Start Tracking Your Workouts Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %></center>
<div clas="row">
<div style="padding-top:20px">

<p> 
</p>
<center><%= image_tag("screen3.png", alt: "Rails logo")
            %><center>
        </div>
    </div>

	
